*~
Junk*
Old*
output

*.aux
*.log
*.nav
*.out
*.pdf
*.ptb
*.snm
*.toc

fp-parallel.tex

# Mac OS generates
.DS_Store

# Where do these files come from?  They're not readable.
# For instance, .#Help.page
.#*
web-token

figures before crop/
was-figures/
was-makefile
